body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 1;
  color: #5E1F1F;
}

textarea{
  background: #CCF3B7;
  border: none;
  resize: none;
  color: #361809;
  border-left:1px solid black;
  padding: 10px;
}

.jumbotron {
  text-align: center;
  background-color: #FF6347;
  color: #483942;
  border-radius: 0;
  border-bottom: 10px solid black;
}

/*description*/
.description{
  white-space: pre-wrap;
}

/*time-block*/
.time-block{
  text-align: center;
  border-radius: 15px;
}

/*row*/
.row {
  white-space: pre-wrap;
  height: 80px;
  border-top: 1px solid white;;
}

/*hour*/
.hour {
  background-color: #191913;
  color: #CCF3B7;
  border-top: 1px dashed #C2B7B7;
}

/*past*/
.past {
  background-color: #531B1B;
  color: #6D6412;
}

/*present*/
.present {
  background-color: #874040;
  color: #6D6412;
}

/*future*/
.future {
  background-color: #C3F0C3;
  color: #6D6412;
}

/*saveBtn*/
.saveBtn {
  border-left: 1px solid black;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  background-color: #FFBB69;
  color: #F5DEB3;
}

.saveBtn i:hover {
  font-size: 20px;
  transition: all .3s ease-in-out;
}

